
<form action="password">
    <h1>Password Generator</h1>

    <label for="length">Seleccioná el tamaño de tu contraseña:</label>
    <select name="length" id="length">
    <option value="6">6 Caracteres</option>
    <option value="7">7 Caracteres</option>
    <option value="8">8 Caracteres</option>
    <option value="9">9 Caracteres</option>
    <option value="10">10 Caracteres</option>
    <option value="11">11 Caracteres</option>
    <option value="12">12 Caracteres</option>
    <option value="13">13 Caracteres</option>
    <option value="14">14 Caracteres</option>
    </select>

<div class="form-check form-switch my-2">
    <label for="uppercase">Mayúsculas</label>
    <input 
    type="checkbox" 
    name="uppercase" 
    id="uppercase"
    class="form-check-input">
    
</div>

<div clas="form check form-switch my-2">
    <label for="numbers" class="form-check-label">Números</label>
    <input
    type="checkbox"
    name="numbers"
    id="numbers"
    class="form-check-input"
    />
</div>


    <button class="btn btn-primary">Generar Contraseña</button>

</form>